@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  min-height: 100vh;
}

/* ----------------------------- LOGIN ----------------------------- */
section.login {
  position: relative;
  background: #112d42;
  height: 100vh;
  color: white;
  margin: 0;
}

section.login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #03a9f4;
}

.title-section {
  position: absolute;
  background-color: #e74c3c;
  color: black;
  width: 35%;
  height: 23%;
  top: 8%;
  left: 10%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.line {
  position: relative;
  font-family: "Source Code Pro", monospace;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 16em;
  font-size: 40px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* animation */
.anim-typewriter {
  animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12.8em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.login-section {
  font-family: "Quicksand", sans-serif;
  position: relative;
  padding: 70px 60px;
  background-color: white;
  color: black;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.login-section h2 {
  font-size: 60px;
  margin-bottom: 40px;
}

.login-section h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

form select {
  color: #112d42;
  padding: 5px 10px;
  font-size: 20px;
  border: 3px solid #112d42;
  text-align: center;
  transition: 0.2s;
}

form select option {
  padding: 10px 20px;
  font-size: 20px;
}

form select:hover {
  border: 3px solid #03a9f4;
}

.login-section button {
  background-color: white;
  padding: 5px 20px;
  margin-top: 60px;
  font-size: 20px;
  border: 2px solid #112d42;
  transition: 0.2s;
  width: 110px;
}

.login-section button:hover {
  color: #03a9f4;
  border: 2px solid #03a9f4;
}

.login-section p {
  margin-top: 10px;
  font-size: 16px;
}

.login-section button.go-to-summary {
  position: absolute;
  right: 5%;
  bottom: 63px;
  width: 200px;
}

/* ----------------------------- SUMMARY OF ALL USERS ----------------------------- */
section.summary {
  position: relative;
  background-color: #e74c3c;
  height: 100vh;
  color: white;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

section.summary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #112d42;
}

section.summary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background: #03a9f4;
}

section.summary div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  z-index: 10;
  color: #112d42;
  width: 35%;
  min-height: 95%;
  background-color: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  border-radius: 16px 16px 0 0;
}

section.summary div table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 20px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

section.summary div table thead tr {
  background-color: #112d42;
  text-align: left;
  color: white;
}

section.summary table tr th {
  color: white;
}

section.summary table td,
section.summary table th {
  padding: 11px 14px;
  color: #112d42;
}

section.summary table tbody tr {
  border-bottom: 1px solid #ddd;
}

section.summary table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* section.summary table tbody tr:last-of-type {
  border-bottom: 2px solid #112d42;
} */

section.summary button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 10px;
  text-align: center;
  background-color: white;
  padding: 5px 20px;
  margin-top: 60px;
  font-size: 20px;
  border: 2px solid #112d42;
  transition: 0.2s;
}

section.summary button:hover {
  border-color: #e74c3c;
  color: #e74c3c;
}

/* ----------------------------- ADMIN ----------------------------- */
div.admin {
  position: relative;
  background-color: #e74c3c;
  min-height: 100vh;
  color: white;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

div.admin::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  min-height: 100%;
  background-color: #112d42;
}

div.admin::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  min-height: 100%;
  background-color: #03a9f4;
}

div.informations {
  background-color: #fff;
  color: #112d42;
  position: absolute;
  top: 2%;
  left: 2%;
  height: 300px;
  padding: 20px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

div.informations span {
  color: #03a9f4;
}

div.informations .welcome {
  margin: 0 0 20px;
  font-size: 40px;
}

div.informations .minutes {
  margin-bottom: 120px;
  font-size: 30px;
}

div.informations .work-hours {
  font-size: 30px;
}

.samebtn {
  position: absolute;
  z-index: 15;
  color: #112d42;
  background-color: white;
  padding: 7px 23px;
  font-size: 25px;
  border: 2px solid #112d42;
  transition: 0.2s;
  width: 200px;
}

.go-home {
  top: 25%;
  right: 3%;
}

.start-finish-work {
  top: 40%;
  right: 3%;
  /* border: 2px solid #112d42; */
}

.take-finish-break {
  top: 50%;
  right: 3%;
}

.go-home:hover, .start-finish-work:hover, .take-finish-break:hover {
  border: 2px solid #03a9f4;
  color: #03a9f4;
}

.logout:hover {
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

div.admin .record-wrap {
  background-color: white;
  color: #112d42;
}

.record-wrap input {
  position: absolute;
  width: 200px;
  height: 40px;
  z-index: 30;
  font-size: 25px;
  top: 50%;
  left: 10%;
  padding: 10px;
  border: 2px solid #112d42;
  transition: .2s;
}

.record-wrap .new-record {
  width: 200px;
  position: absolute;
  left: 10%;
  top: 55%;
  border: 2px solid #112d42;
}

.record-wrap .new-record:hover {
  color: #03a9f4;
  border: 2px solid #03a9f4;
}

.record-wrap input:hover {
  border: 2px solid #03a9f4;
}

table.admin-table {
  overflow-y: scroll; 
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #112d42;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  z-index: 12;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 17px;
  height: 700px;
  border-radius: 16px 16px 0 0;
}

table.admin-table thead tr {
  background-color: #03a9f4;
  text-align: left;
  color: white;
  width: 100%;
}

table.admin-table tr th {
  color: white;
  background-color: #03a9f4;
  top: 0;
  z-index: 100;
  position: sticky;
  /* border-right: .5px solid rgb(224, 217, 217); */
}

table.admin-table td,
table.admin-table th {
  padding: 10px 13px;
  color: #112d42;
}

table.admin-table tbody tr {
  border-bottom: 1px solid #ddd;
}

table.admin-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table.admin-table .delete {
  padding: 3px 10px; 
  background-color: #fff;
  color: #112d42;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid  #112d42;
  transition: .2s;
}

table.admin-table .delete:hover {
  border: 2px solid  #e74c3c;
  color: #e74c3c;
}

div.admin .logout {
  position: absolute;
  right: 3%;
  bottom: 5%;
  color: #112d42;
  background-color: white;
  padding: 5px 20px;
  margin-top: 60px;
  font-size: 20px;
  border: 2px solid #112d42;
  transition: 0.2s;
  width: 200px;
}

div.admin .logout:hover {
  border: 2px solid #e74c3c;
  color: #e74c3c;
}



