@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

section {
    position: relative;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #112d42;
    height: 100vh;
    color: white;
    margin: 0;
    /* max-height: 100vh; */
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #03a9f4;
}

.title-section {
    position: absolute;
    background-color: #e74c3c;
    color: black;
    width: 35%;
    height: 23%;
    top: 8%;
    left: 10%;
    box-shadow: 0 50px 50px rgba(0,0,0,.5);
    z-index: 9;
}

.line {
    position: relative;
    font-family: 'Source Code Pro', monospace;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 16em;
    font-size: 40px;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
}

/* animation */
.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 12.8em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.login-section {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    padding: 70px 60px;
    background-color: white;
    color: black;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    box-shadow: 0 50px 50px rgba(0,0,0,.5);
    z-index: 10;
}

.login-section h2 {
    font-size: 60px;
    margin-bottom: 30px;
}

.login-section h3 {
    font-size: 30px;
    margin-bottom: 15px;
}